<div class="app-wrapper">

    <!-- <img [src]="background" *ngFor="let background of backgrounds.reverse()" class="bg-img" (load)="onBgImgLoad($event)" @bgAnim> -->

    <!-- <div class="btn change-bg-btn " (click)="changeBgImage()" *ngIf="!loadingBfImage" @fadeAnim>
        <i class="material-icons">refresh</i>
    </div> -->

    <div class="top-section">
        <!-- <h1>19:00</h1> -->
        <h1> {{dateTime | date:'HH:mm'}} </h1>
        <h2>{{dateTime | date: 'd MMMM y'}}</h2>
    </div>
    <div class="content-section" [@routeAnim]="prepareRouter(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div class="bottom-section">
        <app-tabs></app-tabs>
    </div>

    <app-notification></app-notification>

</div>
